.headerLogo{
    box-sizing: border-box;
    vertical-align: bottom;
    margin-left: 0px;
    visibility: visible;
    float: left;
    margin: 10px 10px 0px 0px;
    width: 50px;
    height: 50px;
}