/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.page-container {
    position: relative;
    min-height: 100vh;
  }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.copyrightText{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    overflow-y: auto;
    height: 100px;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    margin: 0;
    /*min-width: 482px;*/
    width: auto !important;  /* Firefox will set width as auto */
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;
}

.header-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header-container li a {
    display: block;
    text-decoration: none;
    padding: 20px 10px;
}
  
  .header-container li a:hover,
  .header-container .menu-btn:hover {
    background-color: #f4f4f4;
}

.header-container .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header-container .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header-container .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header-container .menu-icon .navicon:before,
  .header-container .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header-container .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header-container .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header-container .menu-btn {
    display: none;
  }
  
  .header-container .menu-btn:checked ~ .menu {
    max-height: 80%;
  }
  
  .header-container .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header-container .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header-container .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header-container .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header-container .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

.main-container{
    padding-bottom: 7rem;    /* Footer height */
    position: relative;
}

.footer-container{
    border-top: 5px solid #0a0a0a;
    width: 100%;
    position: absolute;
    bottom: 0;
    /*height: 6.5rem;             Footer height */
}

.header-container,
.footer-container,
.main aside {
    background: #D40000;
}

.title {
    float: left;
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
   
nav{
    margin-bottom: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #D40000;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}


/* ==============
    MOBILE: Main
   ============== */

.main article h1 {
    font-size: 2em;
    margin-right: 20px;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
    margin-bottom: 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.mainMenu{
    max-width: 482px;
    visibility: visible;
}

.headerLogo{
    /*max-width: 100%;
    box-sizing: border-box;
    vertical-align: bottom;
    margin-left: 0px;
    visibility: visible;*/
    width: 100%;
    height: auto;
    object-fit: cover;
}

.studentHeading{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.smallMainMenuButton1{
    height: 75px;
    width: 380px;
    margin-top: 20px;
    margin-left:100%;
    -webkit-animation: mainMenuEntrance 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainMenuEntrance 1s; /* Firefox < 16 */
    -ms-animation: mainMenuEntrance 1s; /* Internet Explorer */
    -o-animation: mainMenuEntrance 1s; /* Opera < 12.1 */
    animation: mainMenuEntrance 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    padding: 12px 30px;
    background: #D40000;
    border-radius: 50px;
    color: #fff;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: right;
}

.smallMainMenuButton2{
    height: 75px;
    width: 350px;
    margin-top: 40px;
    margin-left:100%;
    -webkit-animation: mainMenuEntrance 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainMenuEntrance 1s; /* Firefox < 16 */
    -ms-animation: mainMenuEntrance 1s; /* Internet Explorer */
    -o-animation: mainMenuEntrance 1s; /* Opera < 12.1 */
    animation: mainMenuEntrance 1s;
    animation-delay: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    padding: 12px 30px;
    background: #D40000;
    border-radius: 50px;
    color: #fff;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: right;
}

.smallMainMenuButton3{
    height: 75px;
    width: 320px;
    margin-top: 40px;
    margin-left:100%;
    -webkit-animation: mainMenuEntrance 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainMenuEntrance 1s; /* Firefox < 16 */
    -ms-animation: mainMenuEntrance 1s; /* Internet Explorer */
    -o-animation: mainMenuEntrance 1s; /* Opera < 12.1 */
    animation: mainMenuEntrance 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    padding: 12px 30px;
    background: #D40000;
    border-radius: 50px;
    color: #fff;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: right;
}

.smallMainMenuButton4{
    height: 75px;
    width: 340px;
    margin-top: 40px;
    margin-left:100%;
    -webkit-animation: mainMenuEntrance2 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainMenuEntranc2 1s; /* Firefox < 16 */
    -ms-animation: mainMenuEntrance2 1s; /* Internet Explorer */
    -o-animation: mainMenuEntrance2 1s; /* Opera < 12.1 */
    animation: mainMenuEntrance2 1s;
    animation-delay: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    padding: 12px 30px;
    background: #D40000;
    border-radius: 50px;
    color: #fff;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: right;
}

.generateFeedbackButton{
    height: 75px;
    width: 400px;
    margin-top: 20px;
    margin-left:100%;
    -webkit-animation: mainMenuEntrance 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainMenuEntrance 1s; /* Firefox < 16 */
    -ms-animation: mainMenuEntrance 1s; /* Internet Explorer */
    -o-animation: mainMenuEntrance 1s; /* Opera < 12.1 */
    animation: mainMenuEntrance 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.viewStudentListButton{
    height: 75px;
    margin-top: 40px;
    margin-left:100%;
    -webkit-animation: mainMenuEntrance 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainMenuEntrance 1s; /* Firefox < 16 */
    -ms-animation: mainMenuEntrance 1s; /* Internet Explorer */
    -o-animation: mainMenuEntrance 1s; /* Opera < 12.1 */
    animation: mainMenuEntrance 1s;
    animation-delay: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.viewFeedbackListButton{
    height: 75px;
    margin-top: 40px;
    margin-left:100%;
    -webkit-animation: mainMenuEntrance 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainMenuEntrance 1s; /* Firefox < 16 */
    -ms-animation: mainMenuEntrance 1s; /* Internet Explorer */
    -o-animation: mainMenuEntrance 1s; /* Opera < 12.1 */
    animation: mainMenuEntrance 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.viewSchoolCoordinatorsButton{
    height: 75px;
    margin-top: 40px;
    margin-left:100%;
    -webkit-animation: mainMenuEntrance2 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainMenuEntranc2 1s; /* Firefox < 16 */
    -ms-animation: mainMenuEntrance2 1s; /* Internet Explorer */
    -o-animation: mainMenuEntrance2 1s; /* Opera < 12.1 */
    animation: mainMenuEntrance2 1s;
    animation-delay: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* Keyframes for animations, included some for legacy browsers just in case */
@keyframes mainMenuEntrance{
    from{
        margin-left:100%;
    }
    to{
        margin-left: -30px;
    }
}
@-moz-keyframes mainMenuEntrance{
    from{
        margin-left:100%;
    }
    to{
        margin-left: -30px;
    }
}
@-webkit-keyframes mainMenuEntrance{
    from{
        margin-left:100%;
    }
    to{
        margin-left: -30px;
    }
}
@-ms-keyframes mainMenuEntrance{
    from{
        margin-left:100%;
    }
    to{
        margin-left: -30px;
    }
}
@-o-keyframes mainMenuEntrance{
    from{
        margin-left:100%;
    }
    to{
        margin-left: -30px;
    }
}

@keyframes mainMenuEntrance2{
    from{
        margin-left:100%;
    }
    to{
        margin-left: -90px;
    }
}
@-moz-keyframes mainMenuEntrance2{
    from{
        margin-left:100%;
    }
    to{
        margin-left: -90px;
    }
}
@-webkit-keyframes mainMenuEntrance2{
    from{
        margin-left:100%;
    }
    to{
        margin-left: -90px;
    }
}
@-ms-keyframes mainMenuEntrance2{
    from{
        margin-left:100%;
    }
    to{
        margin-left: -90px;
    }
}
@-o-keyframes mainMenuEntrance2{
    from{
        margin-left:100%;
    }
    to{
        margin-left: -90px;
    }
}

.mainMenuLargeScreen{
    display: none;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 750px) {

    /* ====================
    WIDE: CSS3 Effects
    ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

    /* ============
        WIDE: Menu
    ============ */
    nav{
        float: right;
    }
    .header-container li {
        float: left;
    }
    .header-container li a {
        padding: 20px 10px;
    }
    .header-container .menu {
        clear: none;
        max-height: none;
    }
    .header-container .menu-icon {
        display: none;
    }

    /* ============
    WIDE: Main
    ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
        margin-top: 80px;
    }

    .mainMenu{
        display: none;
    }

    .headerLogo{
        display: none;
    }

    .mainMenuLargeScreen{
        display: block;
    }

    body{
        background: url("../img/TAFESABackgroundImageLarge.jpg") no-repeat center center fixed;
    }

    /*
    .footer-container{
        bottom: 0;
    }
    */

    .largeMainMenuButton{
        background-color: #D40000;
        border: 5px solid white;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: block;
        cursor: pointer;
        border-radius: 16px;
        width: 400px;
        height: 90px;
        margin: 60px auto;
        font-size: 1.2em;
        font-weight: bold;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }

    /* Fade in code for main menu buttons */
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }


}

@media only screen and (min-width: 910px) {

    /* ===============
        Maximal Width
       =============== */
    .header-container li a {
        padding: 20px 30px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        /*width: 1026px;  1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}